<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql:car</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <property name="show_sql">true</property>
        <mapping class="e.CarBody"/>
        <mapping class="e.Engine"/>
        <mapping class="e.Transmission"/>
        <mapping class="e.Car"/>
    </session-factory>
</hibernate-configuration>