<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql:car</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>
        <mapping resource="e/CarBody.hbm.xml"/>
        <mapping resource="e/Engine.hbm.xml"/>
        <mapping resource="e/Transmission.hbm.xml"/>
        <mapping resource="e/Car.hbm.xml"/>
    </session-factory>
</hibernate-configuration>